.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #5350D6;
    column-gap: 2rem;

    .copyright {

        p{
            font-size: 1 rem;

            span {
                color: #5350D6;
                font-weight: 800;
            }
        }
    }
    .followMe {
        display: flex;
        align-items: center;
        gap: 1rem;

        h4 {
            font-size: 1rem;
        }
        .stick {
            height: 2px;
            width: 3rem;
            background: #5350D6;
        }

        .social_icons {
            display: flex;
            gap: 0.5rem;

            svg {
                opacity: 0.9;
                cursor: pointer;
                color: #5350D6;
                &:hover {
                    opacity: 1;  
                    color: #78D7DD;    
                }
            }
        }
    }
}